.btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border: 0;
    line-height: 1;
    outline: none;
    font-size: 1.8rem;
    font-weight: 300;
    color: white;
    background: black;
    text-transform: uppercase;
    cursor: pointer;
}